#page-list {
  li {
    margin-bottom:10px;
    &.folder {
      list-style: url(./admin/folder.png);
    }

    &.page {
      list-style: url(./admin/page.png);
    }
  }

  .children {
    padding-top:10px;
  }
}