#page-list {
  li {
    margin-bottom:10px;
    &.folder {
      list-style: image-url("cms/admin/folder.png");
    }

    &.page {
      list-style: image-url("cms/admin/page.png");
    }
  }

  .children {
    padding-top:10px;
  }
}