<!DOCTYPE html>
<html>
<head>
  <title>Cms</title>
  <%= stylesheet_link_tag    "cms/admin", :media => "all" %>
  <%= javascript_include_tag "cms/admin", "cms/plugin/ckeditor/init" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
