<div class="row">
  <div class="span12">
    <section>
      <div class="page-header">
        <h1>Create New User</h1>
      </div>
    </section>

    <%= simple_form_for @user, :url => cms.admin_users_path(@user), :method => "post" do |f| %>
      <%= render "form", :f => f %>

      <div class="form-actions">
        <%= f.submit "Create User", :class => "btn btn-primary" %>
        <%= link_to "Cancel", cms.admin_users_path, :class => "btn" %>
      </div>
    <% end %>
  </div>
</div>