@import "compass/css3/border-radius";

body {
  font-family: "Helvertica", Arial, sans-serif;
  background:image-url("cms/resumecompanion/background.png") repeat;
}

a {
  color:#64a4d0;
  text-decoration:none;
  &:hover {
    text-decoration:underline;
  }
}

.clear-all {
  clear:both;
}

#admin-bar {
  padding:10px 0;
  background:#000000;
  text-align:right;

  a {
    margin-right:10px;
    padding:5px 10px;
    color:#FFFFFF;
    background:#777777;
    line-height:30px;
    border:2px solid #777777;
    &:hover {
      text-decoration:none;
      border:2px solid #FFFFFF;
    }
  }
}

#header {
  background:#FFFFFF;

  .content {
    margin:0 auto;
    width:980px;
    height:90px;
    span.logo {
      float: left;
      margin-top: 30px;
    }

    #website-description {
      float:left;
      margin-top:50px;
      padding-left:10px;
      height:20px;
      line-height:20px;
      font-size:14px;
      color:#3791CF;
      border-left:1px solid #CCCCCC;
    }

    #google-search-bar {
      float:right;
      margin:15px 20px 0 0;

      #___gcse_0 {
        width:280px;
      }
    }
  }
}

#navigation {
  background:image-url("cms/resumecompanion/nav.png") 0 0 repeat-x;

  ul {
    margin:0 auto;
    width:980px;
    height:50px;
    line-height:50px;
    list-style: none;

    li {
      float:left;
      padding:0 15px;
      font-size:14px;
      font-weight:bold;

      a {
        text-decoration:none;
        color:#AECCE5;

        &:hover, &.selected {
          color:#FFFFFF;
        }
      }
    }
  }
}

#container {
  margin:0 auto;
  padding:40px 24px 10px 24px;
  width:940px;
  background:#FFFFFF;

  #breadcrumb {
    margin:0px 0 30px 0;
    color:#CCCCCC;
    font-size:12px;
    a {
      color:#AAAAAA;
      text-decoration:none;

      &:hover {
        color:#2686CC;
      }

      &.last {
        font-weight:bold;
      }
    }
  }

  #main {
    float:left;
    padding-bottom:20px;
    width:680px;

    .default-title {
      margin-bottom:25px;
      h1 {
        font-size: 22px;
        font-weight: bold;
      }
    }
  }
}

#footer {
  clear:both;
  width:100%;
  height:100px;
  background: image_url("cms/resumecompanion/footer-background.png") repeat-x;

  #nav-footer {
    margin:0 auto;
    padding-top:15px;
    width:980px;
    text-align:center;
    li {
      display: inline;
      padding: 0 10px;
      border-right: 2px solid #629CC7;
      a {
        font-size: 14px;
        color:#ffffff;
        text-decoration:none;
        &:hover { color: #ffffff }
      }
    }
  }

  #nav-social {
    clear:both;
    margin:10px auto 0 auto;
    width:980px;
    text-align:center;
    li {
      display: inline;
      margin-right: 10px;
    }
  }
}

