<div id="main">
  <h1>Page Not Found</h1>
  <p>
    We're very sorry but the page you are looking for cannot be found, however, these pages may interest you:
  </p>

  <ul>
    <li><a href="http://resumecompanion.com">Free Resume Builder</a></li>
    <li><a href="http://resumecompanion.com/resume/resume-templates">Free Resume Templates</a></li>
    <li><a href="http://resumecompanion.com/blog">Resume Companion Blog</a></li>
  </ul>

  <p>
    If you have any questions get in touch at support@resumecompanion.com
  </p>

  <p>
    Enjoy your stay!
  </p>
  <br>
  <h3>Other things to try:</h3>

  <div id="google-search-bar">
    <gcse:searchbox-only></gcse:searchbox-only>
  </div>
</div>