<div class="row">
  <div class="span12">
    <section>
      <div class="page-header">
        <h1>Page List</h1>
      </div>
    </section>

    <section>
      <%= link_to "Create New Page", cms.new_admin_page_path, :class => "btn btn-primary pull-right", :style => "margin-bottom:30px" %>
    </section>
  </div>
</div>

<%= render "page_list", :pages => @pages, :type => "root" %>