<div id="footer">
  <div class="container">
      <div class="normal clearfix">
      <div class="main">
        <a href="#" class="logo"></a>
        <div class="social clearfix">
          <a href="#" class="fb"></a>
          <a href="#" class="twitter"></a>
          <a href="#" class="gplus"></a>
          <a href="#" class="linkedin"></a>
        </div>
      </div>
      <div class="link clearfix">
        <div class="item">
          <h4>ABOUT</h4>
          <a href="/about#mission">Company Mission</a>
          <a href="/about#difference">Our Difference</a>
          <a href="/about#offices">Our Offices</a>
          <a href="/about#culture">Company Culture</a>
          <a href="/about#careers">Careers</a>
          <a href="/about#community">Join our Community</a>
          <a href="/about#affiliates">Affiliates</a>
        </div>
        <div class="item">
          <h4>Product Features</h4>
          <a href="/feature#financials">Financials made easy</a>
          <a href="/feature#download">Download and print</a>
          <a href="/feature#directory">Get funded faster</a>
          <a href="/feature#experience">No writing experience needed</a>
          <a href="/feature#workwith">Craft multiple business plans</a>
          <a href="/feature#businessPlan">Plan your business</a>
          <a href="/feature#mobile">Mobile friendly</a>
          <a href="/feature#support">World Class Help and Support</a>
          <a href="/feature#safe">Security and Privacy</a>
        </div>
        <div class="item">
          <h4>Getting Started</h4>
          <a href="/account_registration">Plans &amp; Pricing</a>
          <a href="#">Free Resources</a>
          <a href="#">Blog</a>
        </div>
        <div class="item">
          <h4>Help and Support</h4>
          <a href="/help">Frequently Asked Questions</a>
          <a href="/about#offices">Contact Us</a>
          <a href="#">Request a Feature</a>
          <a href="#">Site Map</a>
        </div>
      </div>
    </div>
    <div class="copyright">
      <span>
        Copyright © 2013  BusinessPlanToday.com, an Initial 28 Inc. Company.  All Rights Reserved.
      </span>
      <a href="/tos" class="tos">Terms of Service</a><a href="/privacy">Privacy Policy</a>
    </div>
  </div>
</div>