<div id="footer">
    <ul class="nav-footer">
      <li><a href="http://resumegenius.com">Home</a></li>
      <li><a href="http://resumegenius.com/resume/resume-samples">Resume Samples</a></li>
      <li><a href="http://resumegenius.com/resume/job-resources">Resume Resources</a></li>
      <li><a href="http://resumegenius.com/resume/Q&A">Q&A</a></li>
      <li><a href="http://resumegenius.com/resume/downloads">Downloads</a></li>
      <li><a href="http://resumegenius.com/resume/blog">Blog</a></li>
      <li><a href="http://resumegenius.com/about">About</a></li>
      <li><a href="http://resumegenius.com/terms-of-use">Terms & Conditions</a></li>
      <li><a href="http://resumegenius.com/privacy-policy">Privacy Policy</a></li>
      <li style="border-color:transparent;"><a href="http://resumegenius.com/resume/scholarship">Scholarship</a></li>
    </ul>
      <ul id="nav-social">
        <script src="//connect.facebook.net/en_US/all.js#xfbml=1"></script>
        <li id="twitter">
          <a href="https://twitter.com/TheResumeGenius" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @resumeinminutes</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </li>
        <li>
          <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FResumeGenius&amp;send=false&amp;layout=button_count&amp;width=80&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowTransparency="true"></iframe>

        </li>
        <li>
          <g:plusone size="medium" annotation="none" href="https://plus.google.com/113575073068758199590"></g:plusone>
          <script type="text/javascript">
            (function() {
              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/plusone.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
          </script>
        </li>
      </ul>
    <div class="clear-both"></div>
      <div id="company-name">
        <p>
          Resume Genius is owned and operated by ResumeGenius.com with offices in Wilmington, DE; and Su Jia Technologies Ltd,
        </p>
        <p>
          with offices in Europe.  Since 2009, we have helped over 8 million job seekers worldwide.
        </p>
      </div>
  </div>
