#main {
  #home {
    float:left;

    h1 {
      margin-bottom:20px;
      font-size:27px;
      font-weight:bold;
      color:#2687cc;
    }

    p {
      margin-bottom:40px;
      font-size:14px;
      line-height:22px;
    }

    .category {
      float:left;
      margin-bottom:20px;
      width:680px;

      h2 {
        margin-bottom:20px;
        font-size:24px;
      }

      h3 {
        height:40px;
        line-height:40px;
        text-indent:20px;
        color:#495a62;
        font-size:18px;
        background:image_url("cms/application/home-h2-background.png");
      }

      ul {
        margin-left:20px;
        padding:10px 0;
        font-size:12px;
        line-height:20px;
        li {
          float:left;
          padding:5px 0;
          width:320px;
          font-size:15px;
        }
      }
    }
  }

}