@import "compass/css3/border-radius";

body {
  font-family: "Helvertica", Arial, sans-serif;
  background:image-url("cms/application/background.png") repeat;
}

a {
  color:#64a4d0;
  text-decoration:none;
  &:hover {
    text-decoration:underline;
  }
}

.clear-all {
  clear:both;
}

#admin-bar {
  padding:10px 0;
  background:#000000;
  text-align:right;

  a {
    margin-right:10px;
    padding:5px 10px;
    color:#FFFFFF;
    background:#777777;
    line-height:30px;
    border:2px solid #777777;
    &:hover {
      text-decoration:none;
      border:2px solid #FFFFFF;
    }
  }
}

#header {
  background:#FFFFFF;

  .content {
    margin:0 auto;
    width:980px;
    height:90px;

    #logo {
        float:left;
        display:block;
        margin: 45px 10px 0 0 ;
        text-indent:-9999px;
        width:500px;
        height:30px;
        background:transparent image-url("cms/application/cms-logo.png") no-repeat;
    }

    #website-description {
      float:left;
      margin-top:50px;
      padding-left:10px;
      height:20px;
      line-height:20px;
      font-size:14px;
      color:#3791CF;
      border-left:1px solid #CCCCCC;
    }

    #google-search-bar {
      float:right;
      margin:15px 20px 0 0;

      .google-search {
        margin-left:40px;
        width:240px;
        height:26px;
        font-size:13px;
        text-indent:33px;
        border:1px solid #CCCCCC;
        @include border-radius(5px);
        background:image-url("cms/application/icons/search.png") 10px 6px no-repeat;

        &.placeholder {
          color:#e9e9e9;
        }
        &:-moz-placeholder {
          color:#e9e9e9;
        }
        &::-webkit-input-placeholder {
          color:#e9e9e9;
        }
      }
    }
  }
}

#navigation {
  background:image-url("cms/application/nav.png") 0 0 repeat-x;

  ul {
    margin:0 auto;
    width:980px;
    height:50px;
    line-height:50px;

    li {
      float:left;
      padding:0 15px;
      font-size:14px;
      font-weight:bold;

      a {
        text-decoration:none;
        color:#AECCE5;

        &:hover, &.selected {
          color:#FFFFFF;
        }
      }
    }
  }
}

#container {
  margin:0 auto;
  padding:40px 24px 10px 24px;
  width:940px;
  background:#FFFFFF;

  #breadcrumb {
    margin-bottom:25px;
    color:#CCCCCC;
    font-size:12px;
    a {
      color:#AAAAAA;
      text-decoration:none;

      &:hover {
        color:#2686CC;
      }

      &.last {
        font-weight:bold;
      }
    }
  }


  #main {
    float:left;
    padding-bottom:20px;
    width:680px;

    .default-title {
      margin-bottom:25px;
      h1 {
        font-size: 24px;
        font-weight: bold;
      }
    }
  }
}

#footer {
  clear:both;
  margin-bottom:35px;
  padding-top:25px;
  color:#707070;
  font-size:18px;
  text-align:center;
  border-top:1px solid #ECECEC;

  a {
    color:#676767;
    font-size:19px;
    font-weight:500;
    text-decoration:none;
  }
}