<div id="footer">
  Free Resume Templates, Examples, and Tips brought to you by <%= link_to "ResumeCompanion.com", "http://resumecompanion.com", :title => "Resume Builder" %>
  <div class="clear-both"></div>
</div>