<div id="hellobar">
  <div id="hellobar-container">
    <span>Short on time? &nbsp;Get a resume made in 24 hours. &nbsp;Written by professionals</span> <a class="hellobar-link" href="https://resumewriterdirect.com/?utm_source=<%= I18n.t('company-info.name-code')%>&amp;utm_medium=banner&amp;utm_campaign=hello-bar" target="_blank">Go to ResumeWriterDirect.com</a><a href="#close" id="hellobar-close">Close</a>
  </div>
  <div id="hellobar-shadow"></div>
</div>
<div id="hellobar-pusher"></div>
<a href="#open" id="hellobar-open">Open</a>
